.main-feed-posts-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-feed-post-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    gap: 2vh;
}

.main-feed-post-username{
    font-size: x-large;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

.main-feed-post-username:hover { 
    text-decoration: none; 
    border-bottom: 1px solid black; 
}

.main-feed-post-img{
    width: 50vw;
    height: 45vh;
    border-radius: 25px;
}

.post-caption{
    font-size: large;
}
