.post-detail-img {
    height: 50vh;
    border-radius: 20px;
}

.post-detail-edit-delete {
    display: flex;
    gap: 20vw;
}

.post-detail-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    gap: 2vh
}


/* .post-detail-username{
    margin: 0px;
} */
#post-detail-username {
    text-decoration: none;
    font-size: xx-large;
    /* margin-top: 180px; */
}

.post-detail-username {
    text-decoration: none;
    color: black;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.post-detail-username:hover {
    text-decoration: none;
    border-bottom: 1px solid black;
}

a:link {
    text-decoration: none;
}


a:visited {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
}


a:active {
    text-decoration: none;
}

.comments-container {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    padding: 5px; */
    border-radius: 5px;
    border: 1px solid black;
    min-height: 0vh;
    height: 250px;
    width: 50vw;
    overflow-y: scroll;
}

.comment-container {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    border-bottom: 1px black solid;
    border-top: 1px black solid;
    border-left: 1px black solid;
    padding: 15px;
    gap: 10px;
}

.comment-edit-delete-container {
    display: flex;
    gap: 15px;
}

.bigger-comments-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}