/* TODO Add site wide styles */
.main-feed-h2{
    margin: 0px;
    margin-bottom: 5vh;
}

.login-greeting, .signup-greeting, .main-feed-greeting {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh
}

.login-h1, .signup-h1, .main-feed-h1{  
    margin: 0px;
}