/* TODO Add site wide styles */
.main-feed-greeting{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh
}

.main-feed-h1{  
    margin: 0px;
}

.main-feed-h2{
    margin: 0px;
    margin-bottom: 5vh;
}

.login-greeting{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh
}

.login-h1{  
    margin: 0px;
}

.login-h2{
    margin: 0px;
    margin-bottom: 5vh;
}