.signup-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 100vw;
}



.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-family: 'Times New Roman', Times, serif;
    padding: 3vh;
    width: 220px;
    border: black 2px solid;
    border-radius: 10px;
}

.form-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


